/* GLOBAL */
body {
  margin:             0px;
  overflow:           hidden;
}

input[type=text]::-ms-clear {
  display:            none;
}

*:hover,
*:active,
*:focus {
  outline:            0 !important;
  -webkit-appearance: none;
}

.drop-shadow {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow:    0 0 10px 1px rgba(0, 0, 0, .5);
  box-shadow:         0 0 10px 1px rgba(0, 0, 0, .5);
}

.rotate {
  /* Safari */
  -webkit-transform:  rotate(-90deg);
  /* Firefox */
  -moz-transform:     rotate(-90deg);
  /* IE */
  -ms-transform:      rotate(-90deg);
  /* Opera */
  -o-transform:       rotate(-90deg);
  /* Internet Explorer */
  filter:             progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}