#date {
  text-align:         center;
  position:           relative;
  top:                -5px;
  z-index:            -1;
}

#date > span {
  background-color:   lime;
  border-radius:      5px;
  border:             1px solid gray;
  padding:            10px 20px;
  font-weight:        bold;
}

#date {
  color:              rgb(125, 125, 125);
}

#date:hover {
  color:              rgb(0, 0, 0);
  cursor:             pointer;
}


/* MENU */
#menu {
  position:           absolute;
  left:               10px;
  top:                10px;
}

#menu i {
  color:              rgb(150, 150, 150);
  font-size:          25px;
  opacity:            1 !important;
}

#menu .btn {
  height:             35px;
  width:              35px;
  opacity:            0.8;
  background-color:   rgb(255, 255, 255);
  border:             1px solid rgb(200, 200, 200);
  padding:            5px;
  border-radius:      0px !important;
}

#menu .btn:hover {
  cursor:             pointer;
  color:              rgb(200, 200, 200);
  opacity:            1 !important;
}

#menu ul {
  margin-top:         15px;
  border-radius:      0px !important;
}


/* PAGE */
#page {
  width:              100%;
  height:             100%;
  border:             none;
}

#page-loading {
  background:         rgba(255,255,255,0.8);
  text-align:         center;
  position:           fixed;
  width:              100%;
  height:             100%;
  z-index:            100;
}

#page-loading i {
  color:              rgb(200, 200, 200);
  position:           fixed;
  top:                50%;
  font-size:          80px;
}


/* SEARCH BOX */
#search {
  background-color:   white;
  position:           absolute;
  left:               50px;
  top:                10px;
  height:             35px;
  line-height:        35px;
  min-width:          400px;
  padding-right:      5px;
  opacity:            0.8;
}

#search #domain {
  float:              left;
}

#search #domain img {
  width:              20px;
}

#search #domain > span {
  border:             none;
  width:              40px;
}

#tilds-loading {
  position:           absolute;
  left:               430px;
  top:                20px;
  z-index:            100;
}

#terms {
  float:              left;
  border:             none;
  width:              400px;
}

#tilds {
  padding-left:       0px;
  border:             none;
  color:              rgb(0, 100, 255);
}

#tilds-section {
  display:            inline-block;
  position:           relative;
  line-height:        0px !important;
}

#tilds-section .tt-hint {
  padding-left:       0px !important;
}

#tilds-section .tt-dropdown-menu {
  margin-left:        -10px;
}

.tilde {
  float:              left;
  line-height:        35px !important;
  font-size:          24px;
  width:              14px;
  color:              rgb(0, 100, 255);
}

.tild {
  display:            inline-block;
  position:           relative;
  line-height:        35px;
  color:              rgb(0, 100, 255);
}

.tild .fa {
  font-size:          16px;
  width:              14px;
}

.tild:hover,
.tild.focus {
  cursor:             pointer;
  background-color:   rgb(0, 70, 130) !important;
  color:              rgb(75, 185, 240) !important;
}



/* TYPEAHEAD */
#search > .twitter-typeahead {
  display: inline !important;
  float: left;
}

#search > .twitter-typeahead > input {
  left: inherit !important;
}

.twitter-typeahead .tt-hint {
  display:            block;
  height:             35px;
  color:              rgb(150, 150, 150);
}

.twitter-typeahead .tt-dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow:    0 5px 10px rgba(0, 0, 0, .2);
  box-shadow:         0 5px 10px rgba(0, 0, 0, .2);
  padding:            0px 6px;
  border:             1px solid rgb(200, 200, 200);
  border-top:         1px solid transparent;
  background-color:   rgb(255, 255, 255);
}

.twitter-typeahead .tt-suggestion {
  line-height:        24px;
}

.twitter-typeahead .tt-suggestion p {
  margin:             5px;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
  cursor:             pointer;
  background-color:   rgb(0, 70, 130) !important;
  color:              rgb(75, 185, 240) !important;
}






#empty {
  text-align:         center;
  position:           fixed;
  top:                50%;
  left:               50%;
  transform:          translate(-50%, -50%);
  line-height:        30px !important;
  color:              rgb(200, 200, 200);
  cursor:             pointer;
  font-size:          180px;
}

#empty:hover {
  color:              rgb(180, 180, 180);
  text-decoration:    none;
}

.wiki-tilde-tilde {
  font-size:          50px;
}
