<!-- 
<script type="text/javascript">
  $(function() {
    $('#chart{{ r.key.id() }}').highcharts({
      series: [{
        showInLegend: false,
        name: '{{ r.name }}',
        data: {{ r.chart_data() }}
      }]
    });
  });
</script>
 -->
<div class="panel panel-info row">

  <div class="panel-heading" tag="{{ r.key.id() }}">
    <i class="btn-grip fa fa-chevron-right"></i>

    <span class="pull-right">
      <i class="btn-edit fa {{ 'fa-pencil' if r.username else 'fa-check' }}"></i>

      <i class="btn-remove fa fa-times"></i>
    </span>

    <span class="view {{ 'hide' if not r.username }}">
      <span class="scheme" data-toggle="collapse" data-target="#row{{ r.key.id() }}">{{ r.verbose_name }}</span>

      <span class="pull-right">
        <span class="points">{{ r.latest.points }}</span>

        <i class="fa fa-warning hide"></i>

        <i class="btn-update fa fa-refresh"></i>
      </span>
    </span>

    <span class="edit {{ 'hide' if r.username }}">
      <input  class="form-control input-sm" type="text" placeholder="Name" value="{{ r.verbose_name }}" name="name" />

      <span class="pull-right">
        <input class="form-control input-sm" type="text" placeholder="Username" value="{{ r.username or '' }}" name="username" />

<!--         <input class="form-control input-sm"  type="password" placeholder="Password" value="{{ r.password or '' }}" name="password" /> -->
      </span>
    </span>
  </div>

  <div class="collapse" id="row{{ r.key.id() }}">
    <div class="panel-body">
      {{ r.content|safe }}

<!--       <div id="chart{{ r.key.id() }}" class="chart"></div> -->
    </div>
  </div>

</div>