<html>
  <head>
    <title>Tilde Admin Console</title>

    <script type="text/javascript">

    </script>

    <style type="text/css">
      
    </style>
  </head>

  <body>
    <div class="main">
      <div id="root" class="outer rows">
        {% for r in user.profile.rows() %}
          {% include "templates/structure.html" %}
        {% endfor %}

        <div id="empty" class="centered hide">
          <a href="#" class="btn-empty">
            <i class="fa fa-flash"></i>
            <br/>No Kudos!?
            <br/>Start by clicking here!
          </a>
        </div>
      </div>
    </div>
  </body>
</html>