#timeline {
  padding-bottom:   10px;
}

#tilde {
  color:            #74A2D6;
  font-weight:      bolder;
  font-size:        20px;
  border-left:      none;
  border-right:     none;
  background-color: transparent;
}

#terms {
  border-right:     none;
}

#tilds {
  border-left:      none;
}

/* Hide Chrome Highlighting */
*:focus {
  outline:          0 !important;
}

/*.current {
  background-color: beige !important;
}

.wrapper {
  border: 1px solid lightgray;
  margin: 1px;
  padding: 5px;
  font-size: 1.6em;
}

.wrapper input {
  border: none;
  background-color: transparent;
  font-size: inherit;
}*/