<html>
  <head>
    <title>Tilde</title>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.js"></script>

    <!-- Timeline -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="css/timeline/timeline.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootbox.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.typeahead.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

    <!-- Global -->
    <script type="text/javascript" src="js/global.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">

    <script type="text/javascript" src="js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="css/search.css">

    <script type="text/javascript" src="js/calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
  </head>

  <body>
    <!-- Calendar -->
    <div id="timeline"></div>

    <!-- Search Box -->
    <div id="search" class="drop-shadow">
      <input id="terms" type="text" class="form-control" autocomplete="off" />

      {%- for t in tilds -%}
        <span class="tild"><span class="tilde">~</span><i class="fa fa-times hide"></i>{{ t }}</span>
      {%- endfor -%}

      <span id="tilds-section">
        <span class="tilde">~</span>

        <input id="tilds" type="text" class="form-control" autocomplete="off" />
      </span>
    </div>

    <i id="tilds-loading" class="fa"></i>

    <!-- Page -->
    <div>
      <iframe id="page"></iframe>
    </div>
  </body>
</html>